* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #212529;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculadoraIMC {
    width: auto;
    height: auto;

    background-color: #293746;
    box-shadow: 0 0 2px 2px #fff;
    display: flex;
    flex-direction: column;
    padding: 4%;

    text-align: center;

}

h2 {
    margin-bottom: 5%;


}

input {
    padding: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    outline: none;


}

button {
    background-color: #5bc515b0;
    color: #fff;
    padding: 5%;
    margin-bottom: 10%;
    font-size: 24px;

    border: none;
    box-shadow: 0 0 5px 2px #fff;
}

button:hover {
    background-color: #5cc515;
    cursor: pointer;

}

.imc {
    background-color: #212529;
    padding: 2%;
}

#resultado {
    background-color: #fff;
    color: #212529;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
}

#resultado::after {
    content: ' kg/m²';
}


.titulo-classificacao {
    background-color: #465f59;
    padding: 2%;
}

#classificacao {
    background-color: #fff;
    color: #212529;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
}