* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    background-color: #212529;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* ÁREA BEM VINDO */

.bem-vindo {
    background-color: #56D1B5;
    /* background-color: #17A481; */
    text-align: center;
    height: 100%;
}

img {
    max-width: 80%;
}

.bem-vindo h1 {
    margin: 20px 0;
    color: #293746;

}

.bem-vindo p {
    margin: 10px 15px;
    text-align: center;
    line-height: 20px;
    color: #293746;
}

.bem-vindo button {
    padding: 10px;
    margin: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;


    cursor: pointer;
    transition: all .2s;
}

.bem-vindo button:hover {
    background-color: #18916E;
    color: #fff;


}


/* ÁRE BEM VINDO */



/* ÁREA CALCULADORA IMC */

#calculatorImc {
    background-color: #17A481;
    text-align: center;
    height: auto;

    display: flex;

}


.col-left {
    width: 50%;
}

.col-right {

    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

}




form {
    /* background-color: #465F59; */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

form h2 {
    margin: 15px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    outline: none;

}


.calcular {
    background-color: #19A37F;
    color: #fff;


    font-size: 16px;

    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s;
}

.calcular:hover {
    background-color: #58D1B2;
    color: #293746;


}


.reset {
    background-color: #E24E4E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;

    font-size: 16px;
}

.reset:hover {
    background-color: #be0c0c;
}

/* ÁREA CALCULADORA IMC */



/* INÍCIO ÁREA RESULTADO */

.resultado {
    /* background-color: #56D1B5; */
    width: 100%;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.imcTitulo {
    background-color: #212529;
    width: 80%;
    padding: 2%;
}

#resultado {
    background-color: #fff;
    color: #212529;
    font-weight: bold;
    width: 80%;
    padding: 10px;
    margin-bottom: 5%;
}

#resultado::after {
    content: ' kg/m²';
}


/* FIM ÁREA RESULTADO */



/* INÍCIO CLASSIFICACÃO */

#descricao {

    width: 80%;
    padding: 15px;
    text-align: justify;

    background-color: #ffffff;
    color: #212529;
}




.classificacao {
    background-color: #fff;
    color: #293746;

    width: 80%;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}



/* INÍCIO - TEXTOS DESCRIÇÃO POR CLASSIFICACAÇÃO */

.desc-adulto-bp,
.desc-adulto-normal,
.desc-adulto-sp,
.desc-adulto-obI,
.desc-adulto-obII,
.desc-adulto-morbida,
.desc-idoso-bp,
.desc-idoso-normal,
.desc-idoso-sp,
.desc-idoso-ob {

    display: none;


}

.desc-adulto-obII,
.desc-adulto-morbida {
    color: #fff;
}



/* FIM - TEXTOS DESCRIÇÃO POR CLASSIFICACAÇÃO */



/* FIM CLASSIFICACÃO */




/* INÍCIO ÁREA PESO IDEAL */

#calculatorPesoIdeal {
    background-color: #ffffff;
    color: #212529;


    display: flex;

}


.col-left-ideal {
    width: 50%;
    margin: 15px;
    text-align: center;
}

.text-justify {
    margin: 15px;
    padding: 10px;
    text-align: justify;
}


.col-right-ideal {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#pesoMinI,
#pesoMedI,
#pesoMaxI,
#diferencaAtualMedio {
    height: auto;
    width: 80%;
    padding: 1rem;
    margin-top: 0.6rem;
    color: #212529;
    text-align: center;

    font-weight: bold;

    display: none;
}

#alerta {
    background-color: #ffff00;
    color: #292921;
}

#pesoMinI {
    background-color: #6DB5E8;
}

#pesoMedI {
    background-color: #7FC494;
}

#pesoMaxI {
    background-color: #F8E551;
}



button.verificar_PI {

    font-weight: bold;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;

    transition: all .2s;
}

button.verificar_PI:hover {
    background-color: #465F59;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}


/* FIM ÁREA PESO IDEAL */




@media only screen and (max-width: 600px) {



 html {
    
    font-size: 55%;

}




/* ÁREA BEM-VINDO */
    .bem-vindo {
        height: 100vh;

    }
    
    .bem-vindo p {
        margin: 10px 20px;
        text-align: justify;

    }


    /* INÍCIO CALCULADORA IMC E CLASSIFICAÇÃO */

    #calculatorImc {

        display: flex;
        flex-direction: column;

        height: 100vh;

    }

    .col-left {
        width: 100%;
    }

    .col-right {

        width: 100%;

        margin-bottom: 15px;

    }

    /* FIM CALCULADORA IMC E CLASSIFICAÇÃO */



/* PESO IDEAL */

#calculatorPesoIdeal {

    display: flex;
    flex-direction: column;

}

.col-left-ideal {
    width: 90%;
    margin: 10px;
}

.col-right-ideal {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;


}


.text-justify {
    margin: 0;
    text-align: justify;
}






}