* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    /* background-color: #212529; */
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* ÁREA BEM VINDO */

.bem-vindo {
 
    background-color: #56D1B5;
    text-align: center;
    height: 100vh;

}

img {
    width: 550px;
    max-width: 70%;
}

.bem-vindo h1 {
    margin: 2rem 0;
    color: #293746;

}

.bem-vindo p {
    margin: 1rem 2rem;
    text-align: center;
    line-height: 2rem;
    color: #293746;
}

.bem-vindo button {
    padding: 1rem;
    margin: 4rem 0;
    border: 0;
    border-radius: 1rem;
    font-size: 1.6rem;


    cursor: pointer;
    transition: all .2s;
}

.bem-vindo button:hover {
    background-color: #18916E;
    color: #fff;


}


/* ÁRE BEM VINDO */



/* ÁREA CALCULADORA IMC */

#calculatorImc {
    background-color: #17A481;

    height: 65vh;
    display: flex;

    position: relative;

}


.col-left {
    width: 50%;
    text-align: center;
}

.col-right {

    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

}



form {
    /* background-color: #465F59; */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

form h2 {
    margin: 1.5rem;
}

input {
    width: 80%;
    padding: 8px;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
    border: 1px solid #56D1B5;

}


.calcular {
    background-color: #19A37F;
    color: #fff;

    font-size: 1.6rem;

    margin: 1rem 0;
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s;
}

.calcular:hover {
    background-color: #58D1B2;
    color: #293746;


}


.reset {
    background-color: #E24E4E;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: #fff;

    font-size: 1.6rem;
}

.reset:hover {
    background-color: #be0c0c;
}

/* ÁREA CALCULADORA IMC */



/* INÍCIO ÁREA RESULTADO */

.resultado {
    /* background-color: #56D1B5; */
    width: 100%;
    margin-top: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.imcTitulo {
    background-color: #212529;
    width: 80%;
    padding: 2%;
}

#resultado {
    background-color: #fff;
    color: #212529;
    font-weight: bold;
    width: 80%;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

#resultado::after {
    content: ' kg/m²';
}


/* FIM ÁREA RESULTADO */



/* INÍCIO CLASSIFICACÃO */

#descricao {

    width: 80%;
    padding: 15px;
    text-align: justify;

    background-color: #ffffff;
    color: #212529;
}




.classificacao {
    background-color: #fff;
    color: #293746;

    width: 80%;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}



/* INÍCIO - TEXTOS DESCRIÇÃO POR CLASSIFICACAÇÃO */

.desc-adulto-bp,
.desc-adulto-normal,
.desc-adulto-sp,
.desc-adulto-obI,
.desc-adulto-obII,
.desc-adulto-morbida,
.desc-idoso-bp,
.desc-idoso-normal,
.desc-idoso-sp,
.desc-idoso-ob,
.desc-crianca-adoles {

    display: none;
    animation: classificacao normal .5s;
    line-height: 2.5rem;


}

@keyframes classificacao {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.desc-adulto-obII,
.desc-adulto-morbida {
    color: #fff;
}

/* CLASSIFICAÇÃO CRIANÇA E ADOLESCENTE */

.desc-crianca-adoles a {
    color: #18916E;
    font-weight: bolder;
    transition: all .2s;
}

.desc-crianca-adoles a:hover {
    background-color: #fff;
    font-weight: bolder;
}


/* FONTES IMC - CONSULTA */
.fonte {
    margin-top: 1.6rem;
}

/* FIM - TEXTOS DESCRIÇÃO POR CLASSIFICACAÇÃO */



/* FIM CLASSIFICACÃO */




/* INÍCIO ÁREA PESO IDEAL */

#calculatorPesoIdeal {
    background-color: #ffffff;
    color: #212529;

    height: 35vh;

    display: flex;

}


.col-left-ideal {
    width: 50%;
    margin: 1.5rem;
    text-align: center;
}

.text-justify {
    margin: 1.5rem;
    padding: 1rem;
    text-align: justify;
}


.col-right-ideal {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#pesoMinI,
#pesoMedI,
#pesoMaxI,
#diferencaAtualMedio {
    height: auto;
    width: 80%;
    padding: 1rem;
    margin-top: 0.6rem;
    color: #212529;
    text-align: center;

    font-weight: bold;

    display: none;
}


#pesoMinI {
    background-color: #6DB5E8;
    animation: classificacao normal .1s;
}

#pesoMedI {
    background-color: #7FC494;
    animation: classificacao backwards .3s;
}

#pesoMaxI {
    background-color: #F8E551;
    animation: classificacao forwards .5s;
}



button.verificar_PI {

    font-weight: bold;
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.5rem 0;

    transition: all .2s;
}

button.verificar_PI:hover {
    background-color: #19A37F;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}


/* FIM ÁREA PESO IDEAL */

/* CONTATO */



section.contato {

    /* background-color: #fff; */
    display: flex;

    margin-top: 2rem;
    padding: 1rem;
    /* border: 0.2rem solid #fff; */
    position: absolute;
    bottom: 2.5rem;

}

i {
    font-size: 3rem;
}


.repositorio a {
    display: flex;

    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    padding: 1rem;
}

.linkedin a {
    display: flex;

    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    padding: 1rem;
}

.repositorio a:hover {
    background-color: #212529;
    color: #fff;
    transition: all .2s;
}

.linkedin a:hover {
    background-color: #fff;
    color: #0077B5;
    padding: 1rem;
    transition: all .2s;
}





@media only screen and (max-width: 600px) {


html {

    font-size: 55%;

}


/* ÁREA BEM-VINDO */
.bem-vindo {
    height: 100vh;

}

.bem-vindo p {
    /* margin: 10px 20px; */
    text-align: justify;

}


/* INÍCIO CALCULADORA IMC E CLASSIFICAÇÃO */

#calculatorImc {

display: flex;
flex-direction: column;

height: 100vh;

}

.col-left {
        width: 100%;
}

.col-right {

    width: 100%;


}

    /* FIM CALCULADORA IMC E CLASSIFICAÇÃO */



/* LINKEDIN E GITHUB */
section.contato {
    bottom: 1rem;
    
}


    /* PESO IDEAL */

#calculatorPesoIdeal {

    display: flex;
    flex-direction: column;

    height: auto;

}

    .col-left-ideal {
        width: 90%;
        margin: 10px;
    }

    .col-right-ideal {
        width: 100%;
       margin: 0 auto;

        display: flex;
        flex-direction: column;


    }


    #diferencaAtualMedio {
        margin-bottom: 2rem;
    }

    .text-justify {
        margin: 0;
        text-align: justify;
    }






}